* {
	box-sizing: border-box;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 45px;
	font-weight: 600;
	margin: 0;
}

h2 {
	font-size: 30px;
	font-weight: 600;
	margin: 0;
}


h3 {
	font-size: 24px;
	font-weight: 200;
	margin: 0;
}

h4 {
	font-size: 20px;
	font-weight: 200;
	margin: 0;
}

p {
	line-height: 1.5;
	margin: 0;
}

i {
	margin: 8px;
}

header {
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
	align-items: center;	
}

.logo {
	height: 50px;
	width: 150px;
	border: 1px solid black;
	margin-left: 20px;
}

.login {
	width: 150px;
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

nav {
	height: 40px;
	color: white;
	background-color: #332859;
	padding: 3px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

nav div {
	display: flex;
	flex-direction: row;
}


.mobileNav {
	color: white;
	background-color: #332859;
	padding: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 500;
}

.mobileNav div {
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.mobileNav hr {
	width: 95%;
}

.loginMobile {
	display: none;
}

.menuLogo {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.menuLogo i {
	margin: 0;
}

.mobileNav {
	display: none;
}

.content {
	width: 95%;
}

.homeTop {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 500px;
	background-image: url(palms-park.jpg);
	background-size: cover;
}

.topRight {
	width: 500px;
	height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(199, 143, 60, .6);
	margin-right: 4%;
}


.topText {
	width: 500px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #332859;
}

.topText h1 {
	margin-bottom: 10px;
}

.featuredPropButton {
	width: 65%;
	height: 45px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #F28324;
	cursor: pointer;
	padding: 5px;
}

.featuredPropButton:hover {
	background-color: #0A43BF;
}

.featuredPropButton h3 {
	color: white;
	font-weight: 100;
}


.homeMiddle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: #445928;
	margin: 50px;
}
.navHr {
	display: none;
}

.highlight {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 25%;
}

.highlight i {
	margin-bottom: 20px;
}

.highlight h2 {
	margin-bottom: 20px;
	color: #F28324;
}

.pStandard {
	/*height: 125px;*/
}

.highlightLogo {
	height: 100px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.quickSearchButton {
	height: 50px;
	margin: 5px;
	width: 150px;
	background-color: #0A43BF;
	border-radius: 10px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer {
	background-color: #F28324;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footerIcons {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #332859;
}

.footerIcons a {
	display: flex;
	flex-direction: row;
	line-height: 30px;
}

.aboutSection {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 30px;
}

.aboutPerson {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 40%;
}

.aboutPerson img {
	height: 200px;
	width: 165px;
	margin-bottom: 30px;
}

.aboutPerson p {
	width: 60%;
}


/*Media queries*/


@media (min-width: 560px) {
	.mobileNav {
		display: none !important;
	}
}

@media (max-width: 954px) {
	
	.homeMiddle {
		flex-direction: column;
	}
	
	.highlight {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 65%;	
	}
	
	.homeMiddle hr {
		display: block;
		width: 100%;
		margin-bottom: 50px;
	}
}

@media (max-width: 760px) {
	
	h1 {
		font-size: 40px;
	}
	
	h2 {
		font-size: 25px;
		text-align: center;
	}
	
	h3 {
		font-size: 20px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	.homeTop {
		justify-content: center;
	}
	
	.topRight {
		margin-right: 0;
		height: 70%;
		width: 70%;
	}
	
}

@media (max-width: 560px) {
	
	h1 {
		font-size: 35px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	h3 {
		font-size: 20px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	.login {
		display: none;
	}
	
	nav {
		height: 50px;
		justify-content: flex-end;
		align-items: center;
		padding:15px;
	}
	
	.phoneNum {
		display: none;
	}
	.menuLogo {
		display: flex;
	}
	
	.navDiv {
		display: none;
	}
	
	nav hr {
		display: none;
	}

}


@media (max-width: 460px) {
	
	h1 {
		font-size: 25px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	h3 {
		font-size: 16px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	.quickSearchButton {
	height: 45px;
	margin: 5px;
	width: 120px;
}
	
}