* {
	box-sizing: border-box;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}



#newNav {
    background-color: #332859;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    margin-bottom: 0;
  padding: 0;
}

#newNav li {
    list-style: none;
    margin: 0;
    padding: 0;	
}

.propertySearchTab {
    flex-direction: column;
    align-items: center;
    width: 205px;
  	display: flex; 
  
}


/*--- DROPDOWN ---*/
#newNav ul {
    background: #fff;
    background: rgba(255,255,255,0);
    position: absolute;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 205px;
  	z-index: -10;
  	padding-top: 10px;
}
#newNav ul li{
   
}

#newNav li:hover ul{ 
  	display: flex;
  	background-color: #332859;
  	z-index: 1;
}

#newNav li:hover ul a{ 
    text-decoration:none;
}


#newNav li ul li {
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
  	font-size: 16px;
}

#myrsol_adminblock {
    background: red;
    color: #fff;
    position: absolute;
    width: 60px;
    left: 82%;
    top: 20px;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

a:focus {
	text-decoration: none;
	color: inherit;
}


.myrsol-idx-filters {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#listings {
    margin-right: 10%;
    margin-left: 10%;
}

#disclaimer {
    padding: 20px;
	margin: 0;
}

#disclaimer p {
    font-size: 10px;
    margin: 2px;
    line-height: inherit;
}

.row {
    margin-top: 10px;
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;
}

#property_search {
    padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    padding: 10px;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    padding: 10px;
}

#ml_g {
    padding: 10px;
}

form {
    margin: 5%;
}

content > a {
	margin: 5%;
}

#ContactForm {
	margin: 10%;
}

content > h1 {
	font-size: 30px;
	margin-top: 5%;
	margin-left: 5%;
}




h1 {
	font-size: 45px;
	font-weight: 600;
	margin: 0;
}

h2 {
	font-size: 30px;
	font-weight: 600;
	margin: 0;
}


h3 {
	font-size: 24px;
	font-weight: 200;
	margin: 0;
}

h4 {
	font-size: 20px;
	font-weight: 200;
	margin: 0;
}

p {
	line-height: 2em;
	margin: 0;
	margin-bottom: 20px;
  	font-size: 16px;
}

i {
	margin: 8px;
}

header {
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	/*justify-content: space-around;*/
	align-items: center;	
}

.logo {
	height: 50px;
	width: 150px;
	border: 1px solid black;
	margin-left: 20px;
}

.login {
	width: 150px;
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/*nav {
	height: 40px;
	color: white;
	background-color: #332859;
	padding: 7px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav div {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 300px;
	margin-right: 10px;
	margin-left: 10px;
}

.mobileNav {
	color: white;
	background-color: #332859;
	padding: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 500;
}

.mobileNav div {
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.mobileNav hr {
	width: 95%;
}

.loginMobile {
	display: none;
}

.menuLogo {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.menuLogo i {
	margin: 0;
}

.mobileNav {
	display: none;
}


.propertySearchNav {
	display: flex;
	flex-direction: column;
	height: auto;
	z-index: -1;
	background-color: #332859;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 0;
	padding-left: 0;
}



.propertySearchNav hr {
	width: 100%;
}

.propertySearchHover {
	cursor: pointer;
}


.mobilePropSearch {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-left: 80%;
}

.mobilePropSearchButton {
	height: 20px;
	margin-left: 30%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
}

#mobilePropertySearchNav {
	display: none;
	flex-direction: column;
	width: 95%;
	background-color: #F28324;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#mobilePropertySearchNav hr {
	width: 100%;
}

.fa-minus {
	display: none;
}*/


content > p {
	display: none;
}

.content {
	width: 95%;
}

.homeTop {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 500px;
	background-image: url(/img/palms-park_1.jpg);
	background-size: cover;
}

.topRight {
	width: 500px;
	height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(199, 143, 60, .6);
	margin-right: 4%;
}


.topText {
	width: 500px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #332859;
}

.topText h1 {
	margin-bottom: 10px;
}

.featuredPropButton {
	width: 65%;
	height: 45px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #F28324;
	cursor: pointer;
	padding: 5px;
}

.featuredPropButton:hover {
	background-color: #0A43BF;
}

.featuredPropButton h3 {
	color: white;
	font-weight: 100;
}


.homeMiddle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: #445928;
	margin: 50px;
}
.navHr {
	display: none;
}

.highlight {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 27%;
	text-align: justify;
}

.highlight i {
	margin-bottom: 20px;
}

.highlight h2 {
	margin-bottom: 20px;
	color: #F28324;
}

.pStandard {
	height: 300px;
	/*margin-bottom: 40px;*/
}

.highlightLogo {
	height: 100px;
	margin-top: 15px;
	margin-bottom: 30px;
}

.quickSearchButton {
	height: 50px;
	margin: 5px;
	width: 150px;
	background-color: #0A43BF;
	border-radius: 10px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.quickSearchButton:hover {
	background-color: #F28324;
}

footer {
	background-color: #F28324;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.footerIcons {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #332859;
}

.footerIcons a {
	display: flex;
	flex-direction: row;
	line-height: 30px;
}

.aboutSection {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.aboutPerson {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 50%;
}

.aboutPersonTop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 75%;
}

.aboutDivide {
	display: none;
	width: 90%;
	margin-top: 70px;
	margin-bottom: 70px;
}

.aboutPerson hr {
	width: 75%;
	margin-top: 30px;
	margin-bottom: 30px;
	/*border-color: #445928;*/
}

.nameAndAwards {
	width: 60%;
	margin-left: 20px;
}
.nameAndAwards ul {
	padding-left: 1em;
	margin: 0;
	
}

ul li {
	/*text-indent: -1em;*/
	margin-top: 12px;
}

.headshot {
	height: 203px;
	width: 165px;
}

.aboutPerson p {
	width: 70%;
	text-indent: 30px;
	text-align: justify;
}

.personalPics {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 65%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.personalPics img {
	height: 150px;
}

/*Detailed Search*/



#disclaimer p {
    font-size: 12px;
    margin: 0;
}

.quickSearchPage {
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 5%;
}

.quickSearchTitle {
	color: #F28324;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.quicksearchMainTitle {
	color: #332859;
	margin-bottom: 30px;
}

.quickSearchTiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.quickSearchTiles a {
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    border: 2px solid #445928;
    color: #445928;
}

.quickSearchHr {
	width: 100%;
	margin-bottom: 30px;
}

/*Media queries*/


@media (min-width: 620px) {
	.mobileNav {
		display: none !important;
	}
}

@media (max-width: 1245px) {
	.personalPics {
		width: 75%;
	}
	
	.pStandard {
		margin-bottom: 40px;
	}
}


@media (max-width: 1180px) {
	.aboutPersonTop {
		font-size: 14px;
	}
	
	
	
}


@media (max-width: 954px) {
	
	.homeTop {
		justify-content: center;
	}
	
	.homeMiddle {
		flex-direction: column;
	}
	
	.highlight {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 65%;	
	}
	
	.pStandard {
		height: 225px;
		/*margin-bottom: 20px;*/
	}
	
	.homeMiddle hr {
		display: block;
		width: 100%;
		margin-bottom: 50px;
	}
	
	.aboutSection {
		flex-direction: column;
	}
	.aboutPerson {
		width: 90%;
	}
	
	.aboutDivide {
		display: flex;
	}
	
	.personalPics {
    	width: 65%;
	}
	
}

@media (max-width: 768px) {
	
	h1 {
		font-size: 40px;
	}
	
	h2 {
		font-size: 25px;
		text-align: center;
	}
	
	h3 {
		font-size: 20px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	#newNav li a {
		font-size: 18px;
	}
	
	
	.homeTop {
		height: 450px;
	}
	
	.topRight {
		margin-right: 0;
		height: 70%;
		width: 70%;
	}
	
	.personalPics img {
		height: 120px;
	}
	
	nav {
		padding: 10px;
	}
	
	.quickSearchTiles a {
		padding: 10px;
		font-size: 12px;
	}
	
	
}

@media (max-width: 620px) {
	
	h1 {
		font-size: 35px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	h3 {
		font-size: 20px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	p {
		font-size: 14px;
	}
	
	li {
		font-size: 12px;
	}
	
	.homeTop {
		height: 425px;
	}
	
	.login {
		display: none;
	}
	
	nav {
		height: 50px;
		justify-content: flex-end;
		align-items: center;
		padding:15px;
	}
	
	.phoneNum {
		display: none;
	}
	.menuLogo {
		display: flex;
	}
	
	.navDiv {
		display: none;
	}
	
	nav hr {
		display: none;
	}
	
	.personalPics {
   		width: 75%;
	}
	
	.propertySearchMenuDiv {
		display: none;
	}

	.quickSearchTitle {
		justify-content: center;
	}
	
	
	
}

@media (max-width: 500px) {
	.aboutPersonTop {
		flex-direction: column;
		align-items: center;
	}
	
	.nameAndAwards {
		margin-top: 20px;
		width: 100%;
	}
	
	li {
		font-size: 14px;
	}
	
	.personalPics {
		height: 250px;
		flex-direction: column;
		align-items: center;
	}
	
	.personalPics img {
		height: 100px;
		width: 175px;
	}
	
	.headshot {
		height: 150px;
		width: 135px;
	}
	
	
	.pStandard {
		margin-bottom: 100px;
	}
	
	#disclaimer p {
		font-size: 10px;
	}
	
	content h1 {
		font-size: 22px;
	}
		
}	


@media (max-width: 460px) {
	
	h1 {
		font-size: 25px;
	}
	
	h2 {
		font-size: 25px;
	}
	
	h3 {
		font-size: 16px;
	}
	
	h4 {
		font-size: 16px;
	}
	
	.quickSearchButton {
	height: 45px;
	margin: 5px;
	width: 120px;
	}

	.homeTop {
		height: 375px;
	}	
}